#!/bin/bash

DB_HOST="{{ hostvars[ groups['mysql_servers'][0] ]['ansible_host'] | default(groups['mysql_servers'][0]) }}"
DATE="$(date +%F)"
DUMP_FILE="{{ mysql_backup_dir }}/{{ mysql_db_name }}_${DATE}.sql"

# Dump the database and compress it
mysqldump -h "$DB_HOST" -u "{{ mysql_user }}" -p'{{ mysql_user_password }}' {{ mysql_db_name }} > "$DUMP_FILE"
tar -czf "${DUMP_FILE}.tar.gz" -C "{{ mysql_backup_dir }}" "$(basename $DUMP_FILE)" && rm -f "$DUMP_FILE"
